/* jwdPRO.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{/* font-family:Verdana,sans-serif; *//* font-size:15px; *//* line-height:1.5 */}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.jwd-serif{font-family:serif}.jwd-sans-serif{font-family:sans-serif}.jwd-cursive{font-family:cursive}.jwd-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:600;margin:10px 0}.jwd-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.jwd-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.jwd-table,.jwd-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.jwd-table-all{border:1px solid #ccc}
.jwd-bordered tr,.jwd-table-all tr{border-bottom:1px solid #ddd}.jwd-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.jwd-table-all tr:nth-child(odd){background-color:#fff}.jwd-table-all tr:nth-child(even){background-color:#f1f1f1}
.jwd-hoverable tbody tr:hover,.jwd-ul.jwd-hoverable li:hover{background-color:#ccc}.jwd-centered tr th,.jwd-centered tr td{text-align:center}
.jwd-table td,.jwd-table th,.jwd-table-all td,.jwd-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.jwd-table th:first-child,.jwd-table td:first-child,.jwd-table-all th:first-child,.jwd-table-all td:first-child{padding-left:16px}
.jwd-btn,.jwd-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.jwd-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.jwd-btn,.jwd-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.jwd-disabled,.jwd-btn:disabled,.jwd-button:disabled{cursor:not-allowed;opacity:0.3}.jwd-disabled *,:disabled *{pointer-events:none}
.jwd-btn.jwd-disabled:hover,.jwd-btn:disabled:hover{box-shadow:none}
.jwd-badge,.jwd-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.jwd-badge{border-radius:50%}
.jwd-ul{list-style-type:none;padding:0;margin:0}.jwd-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.jwd-ul li:last-child{border-bottom:none}
.jwd-tooltip,.jwd-display-container{position:relative}.jwd-tooltip .jwd-text{display:none}.jwd-tooltip:hover .jwd-text{display:inline-block}
.jwd-ripple:active{opacity:0.5}.jwd-ripple{transition:opacity 0s}
.jwd-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.jwd-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.jwd-dropdown-click,.jwd-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.jwd-dropdown-hover:hover .jwd-dropdown-content{display:block}
.jwd-dropdown-hover:first-child,.jwd-dropdown-click:hover{background-color:#ccc;color:#000}
.jwd-dropdown-hover:hover > .jwd-button:first-child,.jwd-dropdown-click:hover > .jwd-button:first-child{background-color:#ccc;color:#000}
.jwd-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.jwd-check,.jwd-radio{width:24px;height:24px;position:relative;top:6px}
.jwd-sidebar{height:100%;width:280px;background-image: linear-gradient(-45deg, #3C68B1, #7DC3ED, #b4d6ff);background-color:#fff;position:fixed !important;z-index:1;overflow:auto}
.jwd-bar-block .jwd-dropdown-hover,.jwd-bar-block .jwd-dropdown-click{width:100%}
.jwd-bar-block .jwd-dropdown-hover .jwd-dropdown-content,.jwd-bar-block .jwd-dropdown-click .jwd-dropdown-content{min-width:100%}
.jwd-bar-block .jwd-dropdown-hover .jwd-button,.jwd-bar-block .jwd-dropdown-click .jwd-button{width:100%;text-align:left;padding:8px 16px}
.jwd-main,#main{transition:margin-left .4s}
.jwd-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.jwd-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.jwd-bar{width:100%;overflow:hidden}.jwd-center .jwd-bar{display:inline-block;width:auto}
.jwd-bar .jwd-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.jwd-bar .jwd-dropdown-hover,.jwd-bar .jwd-dropdown-click{position:static;float:left}
.jwd-bar .jwd-button{white-space:normal}
.jwd-bar-block .jwd-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.jwd-bar-block .jwd-center .jwd-bar-item{text-align:center}.jwd-block{display:block;width:100%}
.jwd-responsive{display:block;overflow-x:auto}
.jwd-container:after,.jwd-container:before,.jwd-panel:after,.jwd-panel:before,.jwd-row:after,.jwd-row:before,.jwd-row-padding:after,.jwd-row-padding:before,
.jwd-cell-row:before,.jwd-cell-row:after,.jwd-clear:after,.jwd-clear:before,.jwd-bar:before,.jwd-bar:after{content:"";display:table;clear:both}
.jwd-col,.jwd-half,.jwd-third,.jwd-twothird,.jwd-threequarter,.jwd-quarter{float:left;width:100%}
.jwd-col.s1{width:8.33333%}.jwd-col.s2{width:16.66666%}.jwd-col.s3{width:24.99999%}.jwd-col.s4{width:33.33333%}
.jwd-col.s5{width:41.66666%}.jwd-col.s6{width:49.99999%}.jwd-col.s7{width:58.33333%}.jwd-col.s8{width:66.66666%}
.jwd-col.s9{width:74.99999%}.jwd-col.s10{width:83.33333%}.jwd-col.s11{width:91.66666%}.jwd-col.s12{width:99.99999%}
@media (min-width:601px){.jwd-col.m1{width:8.33333%}.jwd-col.m2{width:16.66666%}.jwd-col.m3,.jwd-quarter{width:24.99999%}.jwd-col.m4,.jwd-third{width:33.33333%}
.jwd-col.m5{width:41.66666%}.jwd-col.m6,.jwd-half{width:49.99999%}.jwd-col.m7{width:58.33333%}.jwd-col.m8,.jwd-twothird{width:66.66666%}
.jwd-col.m9,.jwd-threequarter{width:74.99999%}.jwd-col.m10{width:83.33333%}.jwd-col.m11{width:91.66666%}.jwd-col.m12{width:99.99999%}}
@media (min-width:993px){.jwd-col.l1{width:8.33333%}.jwd-col.l2{width:16.66666%}.jwd-col.l3{width:24.99999%}.jwd-col.l4{width:33.33333%}
.jwd-col.l5{width:41.66666%}.jwd-col.l6{width:49.99999%}.jwd-col.l7{width:58.33333%}.jwd-col.l8{width:66.66666%}
.jwd-col.l9{width:74.99999%}.jwd-col.l10{width:83.33333%}.jwd-col.l11{width:91.66666%}.jwd-col.l12{width:99.99999%}}
.jwd-rest{overflow:hidden}.jwd-stretch{margin-left:-16px;margin-right:-16px}
.jwd-content,.jwd-auto{margin-left:auto;margin-right:auto}.jwd-content{max-width:980px}.jwd-auto{max-width:1140px}
.jwd-cell-row{display:table;width:100%;margin-bottom:.6rem;}.jwd-cell{display:table-cell; font-size: .85rem;}
.jwd-cell-top{vertical-align:top}.jwd-cell-middle{vertical-align:middle}.jwd-cell-bottom{vertical-align:bottom}
.jwd-hide{display:none !important}.jwd-show-block,.jwd-show{display:block !important}.jwd-show-inline-block{display:inline-block !important}
@media (max-width:1205px){.jwd-auto{max-width:95%}}
@media (max-width:600px){.jwd-modal-content{margin:0 10px;width:auto !important}.jwd-modal{padding-top:30px}
.jwd-dropdown-hover.jwd-mobile .jwd-dropdown-content,.jwd-dropdown-click.jwd-mobile .jwd-dropdown-content{position:relative}	
.jwd-hide-small{display:none !important}.jwd-mobile{display:block;width:100% !important}.jwd-bar-item.jwd-mobile,.jwd-dropdown-hover.jwd-mobile,.jwd-dropdown-click.jwd-mobile{text-align:center}
.jwd-dropdown-hover.jwd-mobile,.jwd-dropdown-hover.jwd-mobile .jwd-btn,.jwd-dropdown-hover.jwd-mobile .jwd-button,.jwd-dropdown-click.jwd-mobile,.jwd-dropdown-click.jwd-mobile .jwd-btn,.jwd-dropdown-click.jwd-mobile .jwd-button{width:100%}}
@media (max-width:768px){.jwd-modal-content{width:500px}.jwd-modal{padding-top:50px}}
@media (min-width:993px){.jwd-modal-content{width:900px}.jwd-hide-large{display:none !important}.jwd-sidebar.jwd-collapse{display:block !important}}
@media (max-width:992px) and (min-width:601px){.jwd-hide-medium{display:none !important}}
@media (max-width:992px){.jwd-sidebar.jwd-collapse{display:none}.jwd-main{margin-left:0 !important;margin-right:0 !important}.jwd-auto{max-width:100%}}
.jwd-top,.jwd-bottom{position:fixed;width:100%;z-index:1}.jwd-top{top:0}.jwd-bottom{bottom:0}
.jwd-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.jwd-display-topleft{position:absolute;left:0;top:0}.jwd-display-topright{position:absolute;right:0;top:0}
.jwd-display-bottomleft{position:absolute;left:0;bottom:0}.jwd-display-bottomright{position:absolute;right:0;bottom:0}
.jwd-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.jwd-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.jwd-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.jwd-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.jwd-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.jwd-display-container:hover .jwd-display-hover{display:block}.jwd-display-container:hover span.jwd-display-hover{display:inline-block}.jwd-display-hover{display:none}
.jwd-display-position{position:absolute}
.jwd-circle{border-radius:50%}
.jwd-round-small{border-radius:2px}.jwd-round,.jwd-round-medium{border-radius:4px}.jwd-round-large{border-radius:8px}.jwd-round-xlarge{border-radius:16px}.jwd-round-xxlarge{border-radius:32px}
.jwd-row-padding,.jwd-row-padding>.jwd-half,.jwd-row-padding>.jwd-third,.jwd-row-padding>.jwd-twothird,.jwd-row-padding>.jwd-threequarter,.jwd-row-padding>.jwd-quarter,.jwd-row-padding>.jwd-col{padding:0 8px}
.jwd-container,.jwd-panel{padding:0.01em 16px;}.jwd-panel{margin-top:16px;margin-bottom:16px}
.jwd-code,.jwd-codespan{font-family:Consolas,"courier new";font-size:16px}
.jwd-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.jwd-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.jwd-card,.jwd-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}
.jwd-card-4,.jwd-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.jwd-spin{animation:jwd-spin 2s infinite linear}@keyframes jwd-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.jwd-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.jwd-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.jwd-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.jwd-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.jwd-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.jwd-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.jwd-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.jwd-animate-input{transition:width 0.4s ease-in-out}.jwd-animate-input:focus{width:100% !important}
.jwd-opacity,.jwd-hover-opacity:hover{opacity:0.60}.jwd-opacity-off,.jwd-hover-opacity-off:hover{opacity:1}
.jwd-opacity-max{opacity:0.25}.jwd-opacity-min{opacity:0.75}
.jwd-greyscale-max,.jwd-grayscale-max,.jwd-hover-greyscale:hover,.jwd-hover-grayscale:hover{filter:grayscale(100%)}
.jwd-greyscale,.jwd-grayscale{filter:grayscale(75%)}.jwd-greyscale-min,.jwd-grayscale-min{filter:grayscale(50%)}
.jwd-sepia{filter:sepia(75%)}.jwd-sepia-max,.jwd-hover-sepia:hover{filter:sepia(100%)}.jwd-sepia-min{filter:sepia(50%)}
.jwd-tiny{font-size:10px !important}.jwd-small{font-size:12px !important}.jwd-medium{font-size:15px !important}.jwd-large{font-size:18px !important}
.jwd-xlarge{font-size:24px !important}.jwd-xxlarge{font-size:36px !important}.jwd-xxxlarge{font-size:48px !important}.jwd-jumbo{font-size:64px !important}
.jwd-left-align{text-align:left !important}.jwd-right-align{text-align:right !important}.jwd-justify{text-align:justify !important}
.jwd-center{text-align:center !important; text-align: -webkit-center; display:block; margin-left:auto; margin-right:auto;}
.jwd-border-0{border:0 !important}.jwd-border{border:1px solid #ccc !important}
.jwd-border-top{border-top:1px solid #ccc !important}.jwd-border-bottom{border-bottom:1px solid #ccc !important}
.jwd-border-left{border-left:1px solid #ccc !important}.jwd-border-right{border-right:1px solid #ccc !important}
.jwd-topbar{border-top:6px solid #ccc !important}.jwd-bottombar{border-bottom:6px solid #ccc !important}
.jwd-leftbar{border-left:6px solid #ccc !important}.jwd-rightbar{border-right:6px solid #ccc !important}
.jwd-section,.jwd-code{margin-top:16px !important;margin-bottom:16px !important}
.jwd-margin{margin:16px !important}.jwd-margin-top{margin-top:16px !important}.jwd-margin-bottom{position:fixed;bottom:0 !important;width:100% !important; background-color: #c777b2;}
.jwd-margin-left{margin-left:16px !important}.jwd-margin-right{margin-right:16px !important}
.jwd-padding-small{padding:4px 8px !important}.jwd-padding{padding:8px 16px !important}.jwd-padding-large{padding:12px 24px !important}
.jwd-padding-16{padding-top:16px !important;padding-bottom:16px !important}.jwd-padding-24{padding-top:24px !important;padding-bottom:24px !important}
.jwd-padding-32{padding-top:32px !important;padding-bottom:32px !important}.jwd-padding-48{padding-top:48px !important;padding-bottom:48px !important}
.jwd-padding-64{padding-top:64px !important;padding-bottom:64px !important}
.jwd-padding-top-64{padding-top:64px !important}.jwd-padding-top-48{padding-top:48px !important}
.jwd-padding-top-32{padding-top:32px !important}.jwd-padding-top-24{padding-top:24px !important}
.jwd-left{float:left !important}.jwd-right{float:right !important}
.jwd-button:hover{color:#000 !important;background-color:#ccc !important}
.jwd-transparent,.jwd-hover-none:hover{background-color:transparent !important}
.jwd-hover-none:hover{box-shadow:none !important}
/**********Temas de Color********/
.jwd-theme-l5 {color:#000 !important; background-color:#e9fffd !important}
.jwd-theme-l4 {color:#000 !important; background-color:#b7fff8 !important}
.jwd-theme-l3 {color:#000 !important; background-color:#6efff1 !important}
.jwd-theme-l2 {color:#000 !important; background-color:#26ffe9 !important}
.jwd-theme-l1 {color:#fff !important; background-color:#00dcc6 !important}
.jwd-theme-d1 {color:#fff !important; background-color:#008578 !important}
.jwd-theme-d2 {color:#fff !important; background-color:#00766a !important}
.jwd-theme-d3 {color:#fff !important; background-color:#00685d !important}
.jwd-theme-d4 {color:#fff !important; background-color:#005950 !important}
.jwd-theme-d5 {color:#fff !important; background-color:#004a43 !important}
.jwd-theme-d6 {color:#fff !important; background-color:#3C68B170 !important;
}
.jwd-theme-light {color:#000 !important; background-color:#e9fffd !important}
.jwd-theme-dark {color:#fff !important; background-color:#004a43 !important}
.jwd-theme-action {color:#fff !important; background-color:#004a43 !important}

.jwd-theme {color:#fff !important; background-color:#009688 !important}
.jwd-text-theme {color:#009688 !important}
.jwd-border-theme {border-color:#009688 !important}

.jwd-hover-theme:hover {color:#fff !important; background-color:#009688 !important}
.jwd-hover-text-theme:hover {color:#009688 !important}
.jwd-hover-border-theme:hover {border-color:#009688 !important}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#631577 !important;
    background-image: linear-gradient(to bottom, #3a0c6e 0%, #450f53 90%);
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:16px;
    min-height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    /*text-transform:uppercase;*/
    width:100%;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link-icon {
    width: 1.5rem;
    min-width: 1.5rem;
    font-size: .875rem;
}
svg{vertical-align: text-bottom; max-width: 20px;}
#title-top{color:white !important; font-weight:700; float:right;} 
.nav-link {
    display: block;
    padding: 0.5rem 1rem;    
    text-decoration: none;
    font-size: 1.2rem;
}
.container-login .fieldset {
    border: 0 none;
    border-radius: 1em;
    margin: 3%;
    padding: 30px 20px;
    box-sizing: border-box;
    width: 75%;
    position: absolute;
    top: 15%;
    left: 10%;
    box-shadow: 2px 2px 5px #999;
    background-color: rgb(255,255,255,0.9);
}
input{
    margin: 0 1em;            
}
input[type=checkbox] {
    transform: scale(1.5);
}
.form-check-label {
    font-size: 0.9rem;
}
.btn{
    width: 9em;
    border-radius: 0.6rem !important;
    color: #fff !important; 
    background-color: #343a40 !important;
}
#loginBtn, .btn-pedido, .registroBtn{
    width:80%;
}
#loginBtn{
    background-image: linear-gradient(to bottom, #7DC3ED 0%, #3C68B1 91%);
}
.bootbox-accept{    
    background-image: linear-gradient(to bottom, #B862A2 0%, #80458F 90%);
}
.form-field{
    padding: 16px 5px;
}
#remember{
    width: 9px;
    height: 15px;
}
.up-text{
    font-size: 12pt !important;
    top: 22px !important;
    color: grey !important;
    left: 2em !important;
    cursor: text !important;
    font-weight: 400 !important;;
}
.form-field label{
    display: block;
    height: 0px;
    top: -8px;
    color: #46787B;
    font-size: 14pt;
    transition: all .2s ease;
    cursor: default;
    position: absolute;
    z-index: 1;
    left: 1em;
    font-weight:600;
}
.jwd-phome{
    top: 20%;
    margin-bottom: 5em;
}
#img-profile{
    margin: 60px 30px 0;
}

.dsb-home{
    background-color: orange;
    border-radius: 30%;
    padding: 16px 0;
    margin: 10px;box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.jwd-off{
    text-align: center;
    width: 100%;    
    max-width: 50px;
    background-color: red;
    border-radius: 50%;
    padding: 10px 0;
    box-shadow: 2px 1px 4px 1px #969696;
    -webkit-box-shadow: 2px 1px 4px 1px #969696;
    position: fixed !important;
    bottom: 7%;
    right: 3.5%;
}
.mk-productos{
    max-width: 80%;
    color: white;
}
.mk-form{
    right: 10%;
    left: 10%;
    position: absolute;
    font-weight: 500;
}
.mk-img{    
    max-width: 150px;
    width: 27.5%;
    padding: 1.5%;
    border-radius: 10%;
    margin:4px 6px;
    -webkit-box-shadow: 5px 4px 5px 1px #411dd2;    
    opacity: 0.85;

}
.mk-img-local{
    max-width: 120px;
    width: 25%;
    margin: 0 6px;
    opacity: 0.85;
}
.mk-img-prod{
    max-width: 100%;
    width: 130px;
    margin: 5px 6px;
    opacity: 0.85;
    border-radius: 5%;
}
.marcaMk{    
    margin-bottom: 3em;;
}
.planMk{
    position: fixed;
    margin: 4.4em 0px 0px 7rem;
    /*top: 53.5%;
    max-width: 45%;
    right: 1%;
    display: block;
    left: 39.5%;*/
}
#plan{
    background-color: #ffffff00;
    font-weight: 700;
    font-size: 1.15rem;
    color:#0d3e76;
    max-width: 100%;
    width: 165px;
}
.imgFooter{
    position: relative;
    width: 35%;
    max-width: 200px;
    margin: .5em;
    padding: 0 5%;
    left: 30%;
}
.mk-usuario{
    color: white;
    margin: 0 8%;
    font-size: 1.1em;    
    line-height: .75;
}
.mk-ventas{
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 0 5%;
}
.mk-img-venta {
    float: left;
    max-width: 100px;
    border-radius: 10%;
    margin: 4px 6px;
}
.mk-nMov{
    float: left;
    margin: 2%;
    padding: 3%;
    color: whitesmoke;
    border-bottom: solid;
    border-radius: 10%;
}
.btn-rech{
    margin: 100% 0 0 5%;
    padding: 5% !important;
    background-color: #28a745 !important;
    font-weight: 500 !important;
    font-size: 1.35em !important;
    box-shadow: 0 0 10px #444444;
}
.mc-btn-rech{
    float: left;
    margin: 2% 5%;
    padding: 20px 1px;
    border-style: double;
    border-radius: 10%;
    text-align: center;
    color: white;
    width: 130px;
    height: 130px;
    box-shadow: 2px 1px 4px 1px;
    -webkit-box-shadow: 2px 1px 4px 1px;
}
input:invalid {
    border: 2px solid #B862A2;
}
#pin, #num{
    margin-left: 10%;
    padding: 2%;
    border-style: groove;
    border-radius: 10px;
    border-color: rgb(85, 39, 132);
    text-align: center;
}
.bootbox-body{
    line-height: 2;
}
.modal-dialog{
    margin: .9rem !important;
}
.modal-footer{
    place-content: center !important;
}